@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    background-color: #4EB1D1;
    display: flex;
    justify-content: center;
    background-image: url(https://64.media.tumblr.com/85e28b2c1364a2084bd7a6727add810a/bf7dea713bb52297-ac/s1280x1920/0f03a27d7d10f150b8abba46376358eb72e1bd89.gif);
    background-size:cover;
    background-attachment: fixed;
}

.projects-main {
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    height: 400px;
    color: floralwhite;
    border-radius: 20px;
    width: 600px;
}

.projects-list {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.projects button {
    width: 200px;
    height: 50px;
    transition: all 0.2s ease;
    background-color: #37A5C8;
    color: floralwhite;
    border-color: transparent;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.projects button:hover {
    background-color: #0276C9;
    color: floralwhite;
    border-color: transparent;
}