@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    background-color: #4EB1D1;
    display: flex;
    justify-content: center;
    background-image: url(https://i.pinimg.com/originals/da/e3/6a/dae36a74337de05e249ce5afcec907c1.gif);
    background-size:cover;
    background-attachment: fixed;
}

.projects-main {
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    height: 400px;
    color: floralwhite;
    border-radius: 20px;
    width: 600px;
    margin: 0px 10px 0px 10px;
}

.projects-list {
    display:grid;
    justify-content: center;
    gap: 15px;

}
.projects-list button {
    width: 200px;
    height: 50px;
    transition: all 0.2s ease;
    background-color: #e9400c;
    color: floralwhite;
    border-color: transparent;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.projects button:hover {
    background-color: #c92a02;
    border-color: transparent;
}
